.banner__imagen{
    background-image: url("/assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    width: 100%;
    height: calc(100vh - 72px);
}